extends ./base

mixin template
  script(type='text/template')&attributes(attributes)
    block

block scripts
  script(type='text/javascript', src='lib/underscore.js')
  script(type='text/javascript', src='lib/routie.js')
  script(type='text/javascript', src='lib/handlebars.js')  
  script(type='text/javascript', src='websheets.js')
  script(type='text/javascript', src='render.js')
    
block title
  title WebSheets

block content
  #alert

  #content

  +template#login-template.
    <form class="navbar-form navbar-right" id="nav-login-form">
      <input class="form-control" type="text" placeholder="Username" name="user" />
      <input class="form-control" type="password" placeholder="Password" name="pass" />
      <button class="btn btn-primary" id="login-button" type="button">Login</button>
      <button class="btn btn-success" id="create-button" type="button">Create</button>
    </form>

  +template#logout-template.
    <div class="navbar-right">
      <p class="navbar-text">Welcome {{w.user}}</p>
      <button class="btn btn-primary navbar-btn" id="logout-button" type="button">Logout</button>
    </div>
  
  +template#users-template.
    <h1>Registered Users</h1>
    <ul>
      {{#each this}}
      <li>{{this.user}}</li>
        {{#if this.tables.length}}
          <ul>
          {{#each this.tables}}
          <li><a href="#table/{{this}}/output">{{this}}</a></li>
          {{/each}}
          </ul>
        {{/if}}
      {{/each}}
    </ul>

  +template#tables-template.
    <h1>Tables</h1>
    <ul>
      {{#each this}}
      <li>
        <b><a href="#table/{{name}}/output">{{name}}</a></b>
        by {{owner}}:
        <small>{{description}}</small> - 
        <button data-table="{{name}}" class="btn btn-danger btn-xs btn-delete">Delete</button>
      </li>
      {{/each}}
    </ul>
    <h3>Create New Table</h3>
    <div class="col-md-6">
      <form id="table-create-form">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" name="description" placeholder="Description" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="columns">Columns</label>
          <input type="text" class="form-control" name="columns" placeholder="Comma-separated column list">
        </div>
        <button id="table-create-button" class="btn btn-primary" type="button">Create</button>
      </form>
    </div>

  +template#home-template.
    <div class="jumbotron">
      <h1 style="text-align: center">WebSheets</h1>

      <p>WebSheets are a new programming paradigm to develop secure Web
      Applications.</p>
      <p>Login or create an account to create your own websheets or interact
      with existing websheets developed by other users.</p>

      <hr/>

      {{#if w.user}}
      <h4>You are logged in as {{w.user}}.</h4>
      {{else}}
      <h4>You are currently not logged in.</h4>
      {{/if}}

    </div>

  +template#alert-template.
    <div class="alert alert-{{type}} alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{{msg}}}
    </div>

  +template#eval-template.
    <h1>Eval Console</h1>
    <p>Type a WF expression in the following form and the result will be appended below.</p>
    <form class="form-inline" id="eval-form">
      <input class="form-control" id="eval" size="40" type="text" />
      <div class="btn-group" role="group">
        <button type="submit" id="eval-btn" class="btn btn-default">Eval</button>
        <button type="submit" id="eval-clear-btn" class="btn btn-warning">Clear</button>
      </div>
      <div class="checkbox">
        <label>
          &nbsp;&nbsp;&nbsp;&nbsp;<input id="eval-verbose" type="checkbox"> Verbose
        </label>
      </div>
    </form>
    <div><ul id="eval-console"></ul></div>

  +template#drop-template.
    <span class="dropdown">
      <span data-toggle="dropdown" class="dropdown caret"></span>
      <ul class="dropdown-menu">
        <!-- <li class="dropdown-header">Row Owner: {{this._owner}}</li>
             <li role="separator" class="divider"></li> -->
        <li><a class="row-insert-before">Insert Row Before</a></li>
        <li><a class="row-insert-after">Insert Row After</a></li>
        <li><a class="row-delete">Delete Row</a></li>
      </ul>
    </span>

  +template#import-template.
    <h1>XLS Import</h1>
    <small>Import WebSheet tables from an XLS file, admin only</small>
    <form class="form-inline" id="import-form">
      <input class="form-control" type="file" id="xls">
      <button type="submit" id="import-btn" class="btn btn-default">Import XLS</button>
    </form>

  +template#admin-template.
    <h1>Admin Panel</h1>
    <small>Click the buttons below to execute privileged actions</small>
    <br/><br/>
    <form class="form-inline" id="load-form">
      <input class="form-control" type="file" id="loadstate">
      <button type="submit" id="load-btn" class="btn btn-default">Load</button>
    </form>
    <p>
      <div class="btn-group" role="group">
      <button type="submit" id="save-btn" class="btn btn-success">Save</button>
      <a href="/admin/download" id="download-btn" class="btn btn-success" download>Download</a>
      <button type="submit" id="purge-btn" class="btn btn-warning">Purge Cache</button>
      <button type="submit" id="reset-btn" class="btn btn-warning">Delete All</button>
      <button type="submit" id="quit-btn" class="btn btn-danger">Quit</button>
      </div>
    </p>

  +template#input-template.
    <h1>
      {{table.name}} <small>by {{table.owner}}</small> (Input View)
      <a class="pull-right btn btn-default" href="#table/{{table.name}}/output">Switch to Output View</a>
    </h1>
    <p>{{table.description}}</p>
    <h2>Permissions</h2>
    <table class='table table-condensed table-striped table-bordered table-hover'>
      <thead>
        <tr>
          <th></th>
          {{#each table.columns}}
          <th>{{this}}</th>
          {{/each}}
          <th>All Columns</th>
        </tr>
      </thead>
      <tbody>
        <tr data-perm="read">
          <th>Read</th>
          {{#each table.perms.read}}
          <td class="editable {{ifError this}}" data-col="{{@key}}" data-src="{{this.src}}">
            <code contenteditable="true">{{{pcode this.src}}}</code>
          </td>
          {{/each}}
        </tr>
        <tr data-perm="write">
          <th>Write</th>
          {{#each table.perms.write}}
          <td class="editable" data-col="{{@key}}" data-src="{{this.src}}">
            <code contenteditable="true">{{{pcode this.src}}}</code>
          </td>
          {{/each}}
        </tr>
        <tr data-perm="init">
          <th>Init</th>
          {{#each table.perms.init}}
          <td class="editable" data-col="{{@key}}" data-src="{{this.src}}">
            <code contenteditable="true">{{{pcode this.src}}}</code>
          </td>
          {{/each}}
          <td class="disabled"></td>
        </tr>
        <tr data-perm="add">
          <th>Add Row</th>
          {{#each table.columns}}
          <td class="disabled"></td>
          {{/each}}
          <td class="editable" data-col="row" data-src="{{table.perms.add.row.src}}">
            <code contenteditable="true">{{{pcode table.perms.add.row.src}}}</code>
          </td>          
        </tr>
        <tr data-perm="del">
          <th>Add Row</th>
          {{#each table.columns}}
          <td class="disabled"></td>
          {{/each}}
          <td class="editable" data-col="row" data-src="{{table.perms.del.row.src}}">
            <code contenteditable="true">{{{pcode table.perms.del.row.src}}}</code>
          </td>          
        </tr>
      </tbody>
    </table>

    <h2>Data</h2>

    <table class='table table-condensed table-bordered table-striped table-hover'>
      <thead>
        <tr>
          <th class="side-opt"></th>
          <th>_owner</th>
          {{#each table.columns}}
          <th>{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each table.cells}}
        <tr data-row="{{@index}}">
          <td class="side-opt">{{> drop}}</td>
          <td class="editable" data-col="_owner" data-src="{{this._owner}}">
            <code contenteditable="true">{{this._owner}}</code>
          </td>
          {{#each this}}
          {{#if (neq this.src undefined)}}
          <td class="editable" data-col="{{@key}}" data-src="{{this.src}}">
            <code contenteditable="true">{{{pcode this.src}}}</code>
          </td>
          {{/if}}
          {{/each}}
        </tr>
        {{/each}}
      </tbody>
    </table>

    <p><button id='add-row' class='btn btn-default'>Add Row</button></p>

  +template#output-template.
    <h1>
      {{table.name}} <small>by {{table.owner}}</small> (Output View)
      <a class="pull-right btn btn-default" href="#table/{{table.name}}/input">Switch to Input View</a>
    </h1>
    <p>{{table.description}}</p>

    <table class='table table-condensed table-bordered table-striped table-hover'>
      <thead>
        <tr>
          <th class="side-opt"></th>
          <th>_owner</th>
          {{#each table.columns}}
          <th>{{this}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        {{#each table.cells}}
        <tr data-row="{{@index}}">
          <td class="side-opt">{{> drop}}</td>
          <td class="editable" data-col="_owner" data-src="{{this._owner}}">
            <code contenteditable="true">{{this._owner}}</code>
          </td>
          {{#each this}}
          {{#if (neq this.state undefined)}}
          <td class="editable wf-{{this.state}}" data-col="{{@key}}" data-src="{{this.string}}" data-state="{{this.state}}">
            <code contenteditable="true">{{this.string}}</code>
          </td>
          {{/if}}
          {{/each}}
        </tr>
        {{/each}}
      </tbody>
    </table>

    <p><button id='add-row' class='btn btn-default'>Add Row</button></p>
